.alignright {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.alignleft {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.aligncenter {
  margin: 10px auto;
  display: inherit;
}
