// MEDIA STYLES

body {
}

img,
svg {
  height: auto;
  max-width: 100%;
}
// H STYLES

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: $globalAColor;
  @include transition( '#{$transitionStyle}');
  &:hover {
    color: $globalAHoverColor;
    text-decoration: none;
  }
}

blockquote {
  font-style: italic;
  background: $blockquoteBgColor;
  font-size: $blockquoteFontSize;
  color: $blockquoteTextColor;
}
