$margin: 30px;
$navigationAPadding: 10px;

$black: #111111;
$white: #fff;
$green: #333;
$grey: #363636;
$silver: #f4f4f4;
$red: #dd3333;

// General Variables
$transitionStyle: 200ms;

$inputBorderColor: transparent;

$globalAColor: $green;
$globalAHoverColor: $grey;

$blockquoteBgColor: $white;
$blockquoteFontSize: 14px;
$blockquoteTextColor: $grey;
