$margin: 30px;
$navigationAPadding: 10px;

$black: #111111;
$white: #fff;
$green: #333;
$grey: #363636;
$silver: #f4f4f4;
$red: #dd3333;

// General Variables
$transitionStyle: 200ms;

$inputBorderColor: transparent;

$closeAlertHoverColor: $grey;

$theadBgColor: $silver;

$pseudoSelectCurrentBg: $white;
$pseudoSelectFontSize: 13px;
$pseudoSelectAColor: $grey;
$pseudoSelectAHoverColor: $green;

$paginationAColor: $white;
$paginationBgColor: $grey;
$paginationTextColorCurrent: $white;
$paginationBgColorCurrent: $green;

$blockquoteBgColor: $white;
$blockquoteFontSize: 14px;
$blockquoteTextColor: $grey;

// GLOBAL COLORS
$globalAColor: $green;
$globalAHoverColor: $grey;

$globalBodyBgColor: transparent;
$globalBodyTextColor: $grey;

// navigation
$navigationBg: $white;
$navigationAColor: $grey;
$navigationAHoverColor: $white;
$navigationSubBg: $white;

$navigationSubWidth: 200px;
