.alert {
  position: relative;
  border-radius: 0;

  .close-alert {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    @include transition( '#{$transitionStyle}');

    &:hover {
      color: $closeAlertHoverColor;
    }
  }
}
