.header {
  padding: $margin 0;
  h1 {
    margin: 0;
    padding: 0;
    line-height: normal;
  }
  .logo {
    max-width: 300px;
    position: relative;
  }
  .logo__svg {
    text-indent: -9999px;
    position: absolute;
    z-index: 1;
    top: 0;
    left:0;
    right:0;
    bottom:0;
  }
}
